{%load static%}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Anuroop Portfolio</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'index' %}"><img src="{% static 'img/KDA.png'%}" alt="logo"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
							<!--<li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>-->
							<li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
							
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">certificates</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">certificates</a></li>
									<!--<li class="nav-item"><a class="nav-link" href="{% url 'singleblog' %}">Blog Details</a></li>-->
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area" >
		<div class="banner_inner ">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase">Hell0</h3>
							<h1 class="text-uppercase">I am Durga Anuroop</h1>
							<!--<h5 class="text-uppercase">senior wordpress developer</h5>-->
							<div class="d-flex align-items-center">
								<!--<a class="primary_btn" href="#"><span>Hire Me</span></a>-->
								<a class="primary_btn tr-bg" href="https://drive.google.com/file/d/1tXvPeiiZQGA4Embma8v0HIkAjHGk_Z5H/view?usp=drive_link"><span>Get CV</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="{% static 'img/banner/home-right.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{% static 'img/about-us.png' %}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>let’s <br>
							Introduce about <br>
							myself</h2>
						<p>
							Hii My name is K.Durga Anuroop, and I am from Tadepalligudem. I received my bachelor's degree 
							in Computer Science and Engineering.
						</p>
						<p>
							I am from a nuclear family my father is a businessman, my mother is a homemaker, and I have a elder brother. 
							Along with my bachelor's degree, I have learned Java, web development, and the fundamentals of machine learning. Using these skills,
							I can work hard for my organisation by being punctual and sincere. My strengths are adaptability,motivate myself and Time Management. 
							My goal is to secure a good position in the software sector.

							I am excited to embark on my journey in the tech industry, where I can continue to grow, 
							innovate, and make meaningful contributions to the ever-evolving world of software development.
						</p>
						<a class="primary_btn" href="https://drive.google.com/file/d/1tXvPeiiZQGA4Embma8v0HIkAjHGk_Z5H/view?usp=drive_link"><span>Download CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/java.png' %}" alt="java">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/mysql.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/html-5.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/css-3.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/machine-learning.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/django.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/tripod.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/Computer.png' %}" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="{% static 'img/brands/clapperboard.png' %}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="offset-lg-2 col-lg-4 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">Fresher</span>
							<!--<span class="smll">Years Experience Working</span>-->
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-phone"></span>
							</div>
							<div class="ml-15">
								<p>call us now</p>
								<h3>(+91)-8499904287</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--================ Start Features Area =================-->
	<section class="features_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Education Details</h2>
						<p>
							My academic journey has equipped me with both the knowledge and the critical thinking skills needed to 
							succeed in the ever-evolving [insert industry/field]. With a strong educational background, 
							I have honed my technical abilities, problem-solving skills, and a passion for continuous learning. 
							Here are the key milestones in my academic career
						</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="feature_inner d-flex justify-content-center">
						<div class="col-lg-3 col-md-6">
							<div class="feature_item text-center">
								<h4>BTECH in Computer Science and Engineering (Aug 2020 - Apr 2024)</h4>
								<p>Sri Vasavi Engineering College, Tadepalligudem<br>CGPA: 7.68</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="feature_item text-center">
								<h4>Intermediate in MPC (Jun 2019 - Apr 2020)</h4>
								<p>Adithya Junior College, Tadepalligudem<br>CGPA: 8.23</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="feature_item text-center">
								<img src="img/services/s3.png" alt="">
								<h4>Secondary Education (Jun 2017 - Apr 2018)</h4>
								<p>St Ann's English Medium School, Tadepalligudem<br>CGPA: 9.2</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>quality work <br>
						 	projects Done</h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
			</div>
	
			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/automobile.jpg' %}" alt="">
								<div class="overlay"></div>
							</div>
							<div class="short_info">
								<h4><a href="portfolio.html" style="color: #007bff;">Info about old and new automobiles and comparison</a></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all popular">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/fakenews.jpg' %}" alt="">
								<div class="overlay"></div>
								
							</div>
							<div class="short_info">
								<h4><a href="portfolio.html" style="color: #007bff;">Fake News Detection </a></h4>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all latest">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="{% static 'img/portfolio/portfolio.jfif' %}" alt="">
								<div class="overlay"></div>
									</div>
							</div>
							<div class="short_info">
								<h4><a  href="portfolio.html">Portfolio</a></h4>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

	<!--================ Start Newsletter Area =================-->
	<section class="newsletter_area">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="subscription_box text-center">
						<h2 class="text-uppercase text-white">get update from anywhere</h2>
						<p class="text-white">
							Stay Informed, Anytime, Anywhere 
						</p>
						<div class="subcribe-form" id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
								<!--<input name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required="" type="email">
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>-->
								<a href="mailto:korleparaanuroop@gmail.com" class="primary-btn hover d-inline" style="padding: 15px 30px; font-size: 18px; border-radius: 8px;">
									Let's Connect Here
								</a>
								
								
									<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="#">
								<img src="{% static 'img/KDA.png' %}" alt="">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer_social">
							<a href="https://www.facebook.com/profile.php?id=61563578879546"><i class="fa fa-facebook"></i></a>
							<a href="https://x.com/hema1821034"><i class="fa fa-twitter"></i></a>
							<a href="https://www.instagram.com/__anuroop_anu_k__?igsh=MWsydDJiZHJ4d3BmMg%3D%3D&utm_source=qr"><i class="fa fa-instagram"></i></a>
							<a href="https://www.linkedin.com/in/korlepara-durga-anuroop-41b3a4246/"><i class="fa fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<script>document.write(new Date().getFullYear());</script> This template is made by <i class="fa fa-heart-o" aria-hidden="true"></i>  <a target="_blank">Anuroop</a>
</p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'vendors/isotope/isotope-min.js' %}"></script>
	<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>

</html>